<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1 style="text-align: center;">Users</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        <tr>
            {% for fname in first_name.values() %}
            <td>{{ fname }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for lname in last_name.values() %}
            <td>{{ lname }}</td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>